*.duckdb*
dlt_sql/*
.env
.env_encoded
sqlmesh_motherduck/.cache/*
sqlmesh_motherduck/logs/*
sqlmesh_motherduck/macros/__pycache__/*
sqlmesh_motherduck/config.yaml
sqlmesh_motherduck/db.db.wal
sqlmesh_motherduck/db.db
